.l-section {
  padding-left: 20px;
  padding-right: 20px;

  &--hero {
    @extend .l-flexy-col-xs;

  }

  &--highlight {
    @extend .l-flexy-col-xs;
    @include media(tablet) {
      font-size: 2em;
    }
  }

  &__header {
    padding-left: 33px;
    padding-top: 48px;

    &--highlight {
      padding-left: 0;
      margin-bottom: 8px;
    }
  }

  &__signature {
    margin-top: 8px;
  }

}

.l-article {

  &__wrapper--skills {
    margin-top: 49px;
  }

  &--showcase {
    @extend .l-flexy-col-xs;
    border-bottom: 3px solid #FDF6E3;
    margin-bottom: 48px;

    @include media(tablet) {
      border-bottom: none;
    }
  }

  &--skills {
    margin-bottom: 135px;
  }
}
