
.c-bar-graph {

  min-width: 270px;

  &__container {
  @extend .l-flexy-row;
  border-bottom: 1px solid rgb(151, 151, 151);
  height: 320px;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }

  &__title--frontend {
    color: rgb(132, 206, 237);
  }

  &__title--backend {
    color: rgb(235, 248, 254);
  }

  &__title--other {
    color: rgb(168, 181, 223);
  }

  &__container--ylabels {
    @extend .l-flexy-col-xs;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 120px;
    padding: 20px 10px;
  }

  &__container--bars {
    @extend .l-flexy-row;
    position: relative;
    width: 50%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  &__ylabel {
    font-size: 14px;
  }


  &__xlabel {
    position: absolute;
    display: inline-block;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
    font-size: 13px;

    -webkit-transform-origin: top left;
            transform-origin: top left;
    bottom: -22px;
    left: 15px;
  }

  &__bar {
    width: 25px;
    border-radius: 2px 2px 0 0;

    &--expert {

    }

    &--proficient-high {
      height: 240px;
    }

    &--proficient {
      height: 208px;
    }

    &--competent {
      height: 112px;
    }

    &--learning {
      height: 32px;
    }

    &--skill-1 {
      background-color: rgb(58, 154, 196);
    }

    &--skill-2 {
      background-color: rgb(235, 248, 254);
    }

    &--skill-3 {
      background-color: rgb(179, 227, 248);
    }

    &--skill-4 {
      background-color: rgb(216, 216, 216);
    }
  }
}
