
.c-hero {
  height: 100vh;
  max-height: 100vh;
  padding-left: 20px;

  &__header {
    padding-top: 40px;
    margin-bottom: 30px;

    /* Remove the hero header for >= tablet to make room for the Desktop nav*/
    @include media(tablet) {
      display: none;
    }
  }

  &__text {
    font-size: 1em;

    @include media(tablet) {
      font-size: 1.5em;
    }

    // @include media(desktop) {
    //   font-size: 2.0em;
    // }
  }

  // @media only screen and (min-width: 568px)
  //                    and (max-width: 700px)
  //                    and (orientation: landscape) {
  //   height: auto;
  // }
}
