.c-meter {
  @extend .l-flexy-row;
  border: 1px solid #512828;

  &__frontend-bar {
    @extend .l-flexy-row;
    background: #84CEED;
    flex-grow: 3;
  }

  &__backend-bar {
    @extend .l-flexy-row;
    background: #EBF8FE;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__text {
    font-size: 32px;
    padding: 10px;
  }

  &__text--frontend {
    color: #FFFFFF;
  }

  &__text--backend {
    color: #3A9BC4;
  }
}
