
.c-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &__content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }

    &__item-inner {
      padding: 8px;
      text-decoration: none;
      font-size: 5vh;
      color: #ffffff;
      display: block; /* Display block instead of inline */
      -webkit-transition: 0.3s;
      transition: 0.3s; /* Transition effects on hover (color) */

      &--social-links {
        color: inherit;
        margin-top: 10%;
        padding: 25px;
        display: inline-block;
      }
    }

    &__closebtn {
      color: #ffffff;
      position: absolute;
      top: 3px;
      left: 25px;
      font-size: 6vh;
    }

    &__openbtn {
      position: relative;
      top: 10px;
      left: 22px;
      font-size: 2rem;

      @include media(tablet) {
        display: none;
      }
    }
}
