.c-slider {

  &__container {
    position: relative;
  }

  &__item {
    position: absolute;
    left: -1000px;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

    &--active {
      position: static;
      display: inline-block;
      opacity: 1;
    }
  }

  &__bullet-group {
    width:100px;
  	text-align: center;
  	z-index: 99999;
  	width:100%;
    margin-bottom: 20px;
  }

  &__bullet {
    width: 15px;
		height: 15px;
		border: 1px solid #ADB7C1;
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

    &--active {
      background: #0C0C11;
    }
  }
}
