.c-scroll-indicator {
	@include centerer(true, false); //mixins.scss 
	padding: 20px;
	bottom: 8%;
	-webkit-animation: bounce 1s infinite;
	        animation: bounce 1s infinite;


	@at-root {
		@-webkit-keyframes bounce {
			 0% { bottom: 5%; }
			 50%   { bottom: 10%; }
			 100% { bottom: 5%; }
		}
		@keyframes bounce {
			 0% { bottom: 5%; }
			 50%   { bottom: 10%; }
			 100% { bottom: 5%; }
		}
	}
}
