.c-scroll-indicator {
	position: absolute;
	left: 50%;
	bottom: 5%;
	-webkit-animation: bounce 1s infinite;
	        animation: bounce 1s infinite;


	// @at-root {
	// 	@-webkit-keyframes bounce {
	// 		 0% { bottom: 35%; }
	// 		 50%   { bottom: 40%; }
	// 		 100% { bottom: 35%; }
	// 	}
	// 	@keyframes bounce {
	// 		 0% { bottom: 35%; }
	// 		 50%   { bottom: 40%; }
	// 		 100% { bottom: 35%; }
	// 	}
	// }
}
