


.c-tooltip-toggle {
  cursor: pointer;
  position: relative;

  //Tooltip text container
  &::before {
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: #ebf8fe;
    border-radius: 5px;
    color: #000000;
    content: attr(aria-label);
    padding: 1rem;
    text-transform: none;
    transition: all 0.5s ease;
    width: 160px;
  }


  //Setting up the transition
  &::before,
  &::after {
    color: #000000;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  //Triggering the transition
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}
