@charset 'UTF-8';

// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

// 2. Vendors
@import
'vendor/normalize',
'vendor/flexy';

// 3. Base stuff
@import
'base/base',
'base/fonts',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import
'layout/common',
'layout/header',
'layout/footer',
'layout/main';

// 5. Components
@import
'components/hero',
'components/labels',
'components/bar-graph',
'components/slider',
'components/scroll-indicator',
'components/overlay',
'components/tabs',
'components/tooltip',
'components/meter';

// 6. Page-specific styles
@import
'pages/home';

// 7. Themes
@import
'themes/default';
