// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.h-light {
  color: $text-color-light;
}

.is-underlined-dotted {
  border-bottom: 1px dotted $brand-color;
}

.dark {
  color: $text-color-dark;
}
