// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------


//Generate media queries using $breakpoints keys
@mixin media($bkpoint, $bkpoints: $breakpoints) {
  // If $bkpoint is a key that exists in
  // $bkpoints, get and use the value
  @if map-has-key($bkpoints, $bkpoint) {
    $bkpoint: map-get($bkpoints, $bkpoint);
  }

  @media screen and (min-width: #{$bkpoint}) {
    @content;
  }
}


// Center an element horizontally, vertically or both
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
